# Configuration file

general {
    # Boolean: false
    B:DestroyUnder=true

    # Boolean: true
    B:DropGather=true

    # Integer: 0
    # 0:not decrease durability 1,2:decrease durability(1=until whole blocks 2=until break an item)
    I:Durability=0

    # String: "KEY_C"
    S:Key=KEY_C

    # Integer: 0
    I:Limiter=0

    # Boolean: true
    B:StartMode=true

    # Boolean: false
    B:UseWorldAccessImplement=false

    # String: "log, brown_mushroom_block, red_mushroom_block, log2"
    S:blockIds=log, brown_mushroom_block, red_mushroom_block, log2, MineFactoryReloaded:rubberwood.log, IC2:blockRubWood, TwilightForest:tile.TFLog, mod_ecru_MapleTree:ecru_BlockMapleWood, 

    # String: "mod_CutAll"
    S:channelName=mod_CutAll

    # String: "iron_axe, wooden_axe, stone_axe, diamond_axe, golden_axe"
    S:itemIds=iron_axe, wooden_axe, stone_axe, diamond_axe, golden_axe, IC2:itemToolChainsaw, TConstruct:hatchet, GVCGuns:Bayonet, TConstruct:mattock, apples:Bedrock Axe, apples:Ruby Axe, ProjectE:item.pe_dm_axe, ProjectE:item.pe_rm_axe, ProjRed|Exploration:projectred.exploration.axeruby, ProjRed|Exploration:projectred.exploration.axesapphire, ProjRed|Exploration:projectred.exploration.axeperidot, MekanismTools:StonePaxel, MekanismTools:IronPaxel, MekanismTools:DiamondPaxel, MekanismTools:BronzePaxel, 


    # String: ""
    S:leavesIds=leaves, leaves2, MineFactoryReloaded:rubberwood.leaves, IC2:blockRubLeaves, TwilightForest:tile.TFLeaves, mod_ecru_MapleTree:ecru_BlockMapleLeaves, 

    # Integer: 3
    I:leavesRange=3

    # String: ""
    S:nondestructiveItemIDs=
}


